@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.topSection {
    background-color: #333;
    overflow: hidden;
}

.topSection a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topSection a:hover {
    background-color: black;
    color: aquamarine;
}

.topSection a.active {
    background-color: rgb(0, 0, 0);
    color: aqua;

}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: black;
    color: white;
}

html, body {
    cursor: url(img/cursor.png), auto;
    font-family: 'Lato', sans-serif;
}

head {
    cursor: url(img/cursor.png), auto;
    font-family: 'Lato', sans-serif;
     /* cursor: url(img/cursor2.png),  alias; */
}
