.topSection {
    background-color: #333;
    overflow: hidden;
}

.topSection a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topSection a:hover {
    background-color: #ddd;
    color: black;
}

.topSection a.active {
    background-color: aqua;
    color: rgb(0, 0, 0);
}
.dark-mode {
    background-color: black;
    color: white;
  }
.light-mode {
    background-color: white;
    color: black;
}
